.container{
  margin: auto;
  font-family: Arial;
  max-width: 1968px;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: auto;
  font-family: 'Spartan', sans-serif;
}
.info{
  width: 68%;
  background-image: linear-gradient(140deg, rgba(2,37,96,0.8) 19%, rgba(28,98,214,0.7) 54%, rgba(9,187,68,0.5) 88%),url(pexels-startup-stock-photos-7374.jpg);
  background-size: cover;
  filter: brightness(92%) saturate(174%);
-webkit-filter: brightness(92%) saturate(174%);
-moz-filter: brightness(92%) saturate(174%);
  filter: blur(0.5);
  height: 100%;
  min-height: 658px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 4%;
}
.imagenmarca{
  width: 140px;
  height: auto;
  margin-top: 6%;
}
.tituloimagen{
  font-family: 'Spartan', sans-serif;
  color: #fffefa;
  font-weight: 400;
  font-size: 2.3em;
}
.parrafoimagen{
  font-family: 'Spartan', sans-serif;
  color: #fffefa; 
  width: 39%; 
  font-size: 0.7em;
  text-align: justify;
  margin-top: 0%;
}
.linea{
  border: 2px solid white;
  width: 7%;
  margin-bottom: 15%;
  margin-top: 1.4%;
}
.login {
width: 32%;
background-color: #FFF;
height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
*:focus {
	outline: none;
}
.app-title {
  margin-bottom: 20%; 
  width: 60%;
}
.titulo1{
  color: #0278c0;
  font-size: 1.8em;
  margin-bottom: 0%;
  margin-right: 20%;
  font-weight: 550;
}
.titulo2{
  color: #5e6268;
  font-size: 1.8em;
  margin-top: 0px;
  font-weight: 500;
}

.control-group {
margin-bottom: 10px;
}

input {
border: 2px solid transparent;
border-bottom: 1px solid #9B9A9A;
font-size: 0.9em;
font-weight: 400;
margin-bottom: 10px;
padding: 10px 0;
width: 97%;
color: #57585a;
transition: border .5s;
font-family: 'Spartan', "FontAwesome", sans-serif;
}
input:focus {
border-bottom: 1px solid grey;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #0776bd;
  color: #fdffff;
  font-weight: 100;
  font-size: 13px;
  line-height: 25px;
  padding: 5px 0;
  text-decoration: none;
  text-shadow: none;
  text-align: center;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 97%;
  margin-top: 25px; 
  margin-bottom: 20px; 
  cursor: pointer;

}
.btn:hover {
  background-color: #2980B9;
}
.login-link {
  color: #787879;
  text-decoration: none;
  font-size: 0.6em;;
}
.login-form{
  text-align: center;
  padding-bottom: 20px;
  width: 70%;
}
.contraseña{
  color: #787879;
  text-decoration: none;
  font-size: 0.8em;
}
.container-media{
  display: none;
}

@media screen and (max-width: 1255px) {
  .login{
    width: 40%;
  }
  .info{
   height: 100vh;
  }
  .app-title{
    width: 60%;
  }
  .imagenmarca{
    margin-top: 10%;
  }
  .parrafoimagen{
    width: 60%;
    text-align: justify;
  }
  .linea{
    margin-bottom: 20%;
  }
}
@media screen and (max-width: 1190px) {
  .login{
    width: 45%;
  }
  .info{
    height: 100vh;
   }
  .app-title{
    width: 75%;
    margin-left: 10%;
  }
  .imagenmarca{
    margin-top: 10%;
  }
  .parrafoimagen{
    width: 60%;
    text-align: justify;
  }
  .linea{
    margin-bottom: 20%;
  }
}
@media screen and (max-width: 829px) {
  .login{
    width: 48%;
  }
  .info{
    height: 100vh;
   }
  .app-title{
    width: 80%;
    margin-bottom: 20%;
  }
  .imagenmarca{
    margin-top: 10%;
  }
  .parrafoimagen{
    width: 74%;
    text-align: justify;
  }
  .linea{
    margin-bottom: 30%;
  }
}
 @media screen and (max-width: 730px) {
  .login{
      width: 55%;
    }
  .app-title{
    width: 75%;
  }
  .imagenmarca{
    margin-top: 10%;
  }
  .parrafoimagen{
    width: 78%;
    text-align: justify;
  }
} 
@media screen and (max-width: 715px){
  .info{
    display: none;
  }
  .info{
    display: none;
  }
  .login{
    display: none;
  }
  .login-form{
    display: none;
  }
  .app-title{
    display: none;
  }
  .html{
    height: auto;
  }
  .marca{
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .container-media{
    background-image: url(pexels-startup-stock-photos-7374.jpg);
    background-image: linear-gradient(140deg, rgba(2,37,96,0.8) 19%, rgba(28,98,214,0.7) 54%, rgba(9,187,68,0.5) 88%),url(pexels-startup-stock-photos-7374.jpg);
    background-size: cover;
    filter: brightness(92%) saturate(174%);
    -webkit-filter: brightness(92%) saturate(174%);
    -moz-filter: brightness(92%) saturate(174%);
    filter: blur(0.5);
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 100%;
    height: 100%;
  }
  .form{
    background-color: white;
    width: 70%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .titulo1{
    font-size: 1.9em;
  }
  .titulo2{
    margin-bottom: 50px;
    font-size: 1.9em;
  }
  /* CONTRASEÑA */
  .login-link{
    text-align: center;
    font-size: 0.8em;
  }
  /* TEXTO ABAJO */
  .info-media{
    width: 86%;
    text-align: left;
    margin: auto;
    color: #fffefa;
    padding-bottom: 40px;
  }
  .linea-media{
    border: 2px solid white;
    width: 17%;
    margin-top: 12%;
  }

}
@media screen and (max-width: 615px){
  .info{
    display: none;
  }
  .info{
    display: none;
  }
  .login{
    display: none;
  }
  .login-form{
    display: none;
  }
  .app-title{
    display: none;
  }
  .html{
    height: auto;
  }
  .marca{
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .container-media{
    background-image: url(pexels-startup-stock-photos-7374.jpg);
    background-image: linear-gradient(140deg, rgba(2,37,96,0.8) 19%, rgba(28,98,214,0.7) 54%, rgba(9,187,68,0.5) 88%),url(pexels-startup-stock-photos-7374.jpg);
    background-size: cover;
    filter: brightness(92%) saturate(174%);
    -webkit-filter: brightness(92%) saturate(174%);
    -moz-filter: brightness(92%) saturate(174%);
    filter: blur(0.5);
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 100%;
    height: 100%;
    height: 100vh;
  }
  .form{
    background-color: white;
    width: 70%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .titulo1{
    font-size: 1.9em;
  }
  .titulo2{
    margin-bottom: 50px;
    font-size: 1.9em;
  }
  /* CONTRASEÑA */
  .login-link{
    text-align: center;
    font-size: 0.8em;
  }
  /* TEXTO ABAJO */
  .info-media{
    width: 86%;
    text-align: left;
    margin: auto;
    color: #fffefa;
    padding-bottom: 40px;
  }
  .linea-media{
    border: 2px solid white;
    width: 17%;
    margin-top: 12%;
  }
  
}
@media screen and (max-width: 518px){
  .info{
    display: none;
  }
  .info{
    display: none;
  }
  .login{
    display: none;
  }
  .login-form{
    display: none;
  }
  .app-title{
    display: none;
  }
  .html{
    height: auto;
  }
  .marca{
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .container-media{
    background-image: url(pexels-startup-stock-photos-7374.jpg);
    background-image: linear-gradient(140deg, rgba(2,37,96,0.8) 19%, rgba(28,98,214,0.7) 54%, rgba(9,187,68,0.5) 88%),url(pexels-startup-stock-photos-7374.jpg);
    background-size: cover;
    filter: brightness(92%) saturate(174%);
    -webkit-filter: brightness(92%) saturate(174%);
    -moz-filter: brightness(92%) saturate(174%);
    filter: blur(0.5);
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 100%;
    height: 100%;
  }
  .form{
    background-color: white;
    width: 70%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .titulo1{
    font-size: 1.9em;
  }
  .titulo2{
    margin-bottom: 50px;
    font-size: 1.9em;
  }
  /* CONTRASEÑA */
  .login-link{
    text-align: center;
    font-size: 0.8em;
  }
  /* TEXTO ABAJO */
  .info-media{
    width: 86%;
    text-align: left;
    margin: auto;
    color: #fffefa;
    padding-bottom: 40px;
  }
  .linea-media{
    border: 2px solid white;
    width: 17%;
    margin-top: 12%;
  }
 
}
 @media screen and (max-width: 460px){
  .info{
    display: none;
  }
  .info{
    display: none;
  }
  .login{
    display: none;
  }
  .login-form{
    display: none;
  }
  .app-title{
    display: none;
  }
  .html{
    height: auto;
  }
  .marca{
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .container-media{
    background-image: url(pexels-startup-stock-photos-7374.jpg);
    background-image: linear-gradient(140deg, rgba(2,37,96,0.8) 19%, rgba(28,98,214,0.7) 54%, rgba(9,187,68,0.5) 88%),url(pexels-startup-stock-photos-7374.jpg);
    background-size: cover;
    filter: brightness(92%) saturate(174%);
    -webkit-filter: brightness(92%) saturate(174%);
    -moz-filter: brightness(92%) saturate(174%);
    filter: blur(0.5);
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 100%;
    height: 100%;
  }
  .form{
    background-color: white;
    width: 70%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .titulo1{
    font-size: 1.9em;
  }
  .titulo2{
    margin-bottom: 50px;
    font-size: 1.9em;
  }
  /* CONTRASEÑA */
  .login-link{
    text-align: center;
    font-size: 0.8em;
  }
  /* TEXTO ABAJO */
  .info-media{
    width: 86%;
    text-align: left;
    margin: auto;
    color: #fffefa;
    padding-bottom: 40px;
  }
  .linea-media{
    border: 2px solid white;
    width: 17%;
    margin-top: 12%;
  }
  
}
 @media screen and (max-width: 440px){
  .info{
    display: none;
  }
  .info{
    display: none;
  }
  .login{
    display: none;
  }
  .login-form{
    display: none;
  }
  .app-title{
    display: none;
  }
  .html{
    height: auto;
  }
  .marca{
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .container-media{
    background-image: url(pexels-startup-stock-photos-7374.jpg);
    background-image: linear-gradient(140deg, rgba(2,37,96,0.8) 19%, rgba(28,98,214,0.7) 54%, rgba(9,187,68,0.5) 88%),url(pexels-startup-stock-photos-7374.jpg);
    background-size: cover;
    filter: brightness(92%) saturate(174%);
    -webkit-filter: brightness(92%) saturate(174%);
    -moz-filter: brightness(92%) saturate(174%);
    filter: blur(0.5);
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 100%;
    height: 100%;
  }
  .form{
    background-color: white;
    width: 70%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .titulo1{
    font-size: 1.9em;
  }
  .titulo2{
    margin-bottom: 50px;
    font-size: 1.9em;
  }
  /* CONTRASEÑA */
  .login-link{
    text-align: center;
    font-size: 0.8em;
  }
  /* TEXTO ABAJO */
  .info-media{
    width: 86%;
    text-align: left;
    margin: auto;
    color: #fffefa;
    padding-bottom: 80px;
  }
  .linea-media{
    border: 2px solid white;
    width: 17%;
    margin-top: 12%;
  }
}
@media screen and (max-width: 402px){
  .info{
    display: none;
  }
  .info{
    display: none;
  }
  .login{
    display: none;
  }
  .login-form{
    display: none;
  }
  .app-title{
    display: none;
  }
  .html{
    height: auto;
  }
  .marca{
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .container-media{
    background-image: url(pexels-startup-stock-photos-7374.jpg);
    background-image: linear-gradient(140deg, rgba(2,37,96,0.8) 19%, rgba(28,98,214,0.7) 54%, rgba(9,187,68,0.5) 88%),url(pexels-startup-stock-photos-7374.jpg);
    background-size: cover;
    filter: brightness(92%) saturate(174%);
    -webkit-filter: brightness(92%) saturate(174%);
    -moz-filter: brightness(92%) saturate(174%);
    filter: blur(0.5);
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 100%;
    height: 100%;
  }
  .form{
    background-color: white;
    width: 70%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .titulo1{
    font-size: 1.9em;
  }
  .titulo2{
    margin-bottom: 50px;
    font-size: 1.9em;
  }
  /* CONTRASEÑA */
  .login-link{
    text-align: center;
    font-size: 0.8em;
  }
  /* TEXTO ABAJO */
  .info-media{
    width: 86%;
    text-align: left;
    margin: auto;
    color: #fffefa;
    padding-bottom: 40px;
  }
  .linea-media{
    border: 2px solid white;
    width: 17%;
    margin-top: 12%;
  }  
}
 @media screen and (max-width: 390px){
  .info{
    display: none;
  }
  .info{
    display: none;
  }
  .login{
    display: none;
  }
  .login-form{
    display: none;
  }
  .app-title{
    display: none;
  }
  .html{
    height: auto;
  }
  .marca{
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .container-media{
    background-image: url(pexels-startup-stock-photos-7374.jpg);
    background-image: linear-gradient(140deg, rgba(2,37,96,0.8) 19%, rgba(28,98,214,0.7) 54%, rgba(9,187,68,0.5) 88%),url(pexels-startup-stock-photos-7374.jpg);
    background-size: cover;
    filter: brightness(92%) saturate(174%);
    -webkit-filter: brightness(92%) saturate(174%);
    -moz-filter: brightness(92%) saturate(174%);
    filter: blur(0.5);
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 100%;
    height: 100%;
  }
  .form{
    background-color: white;
    width: 70%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .titulo1{
    font-size: 1.9em;
  }
  .titulo2{
    margin-bottom: 50px;
    font-size: 1.9em;
  }
  /* CONTRASEÑA */
  .login-link{
    text-align: center;
    font-size: 0.8em;
  }
  /* TEXTO ABAJO */
  .info-media{
    width: 86%;
    text-align: left;
    margin: auto;
    color: #fffefa;
    padding-bottom: 80px;
  }
  .linea-media{
    border: 2px solid white;
    width: 17%;
    margin-top: 14%;
  }  
}
@media screen and (max-width: 360px){
  .info{
    display: none;
  }
  .info{
    display: none;
  }
  .login{
    display: none;
  }
  .login-form{
    display: none;
  }
  .app-title{
    display: none;
  }
  .html{
    height: auto;
  }
  .marca{
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .container-media{
    background-image: url(pexels-startup-stock-photos-7374.jpg);
    background-image: linear-gradient(140deg, rgba(2,37,96,0.8) 19%, rgba(28,98,214,0.7) 54%, rgba(9,187,68,0.5) 88%),url(pexels-startup-stock-photos-7374.jpg);
    background-size: cover;
    filter: brightness(92%) saturate(174%);
    -webkit-filter: brightness(92%) saturate(174%);
    -moz-filter: brightness(92%) saturate(174%);
    filter: blur(0.5);
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 100%;
    height: 100%;
  }
  .form{
    background-color: white;
    width: 70%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .titulo1{
    font-size: 1.9em;
  }
  .titulo2{
    margin-bottom: 50px;
    font-size: 1.9em;
  }
  /* CONTRASEÑA */
  .login-link{
    text-align: center;
    font-size: 0.8em;
  }
  /* TEXTO ABAJO */
  .info-media{
    width: 87%;
    text-align: left;
    margin: auto;
    color: #fffefa;
    padding-bottom: 40px;
  }
  .linea-media{
    border: 2px solid white;
    width: 17%;
    margin-top: 12%;
  }
}
